/* ==========================================================================
   Site dependencies
   ========================================================================== */
/*
   Core variables
   * Edit your color palette and app vars before your begin
   ========================================================================== */
/* ==========================================================================
   Colour palette (yeah we're British!)
   ========================================================================== */
/* ==========================================================================
   Variables
   * Settings
   * Global values
   * Breakpoints
   * Paths
   * Grid setup
   * Colour palette
   * Components
   ========================================================================== */
/* Load icomoon style ------------------------------------------------------------------ */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sb-icon-search:before {
  content: "\e601";
}

.icon-arrow-right:before {
  content: "\e600";
}

.icon-arrow-left:before {
  content: "\e602";
}

/*
    Typography
   ========================================================================== */
/*
   Font stacks
   ========================================================================== */
/*
   Breakpoints
   * There are no common breakpoints so these are just a suggestion
   * You'll need to define your own breakpoints to suit your design
   ========================================================================== */
/*
   Path vars
   ========================================================================== */
/*
   Choreographic Grid setup
   * Settings here override & affect the output in choreographic-grid.scss
   ========================================================================== */
/*
   App-specific variables
   Add common vars here
   ========================================================================== */
/*
   Mixins, helpers and functions
   * Most CSS3 vendor prefixed items have a mixin.
   * See mixins/css3.scss for the full list
   ========================================================================== */
/* ==========================================================================
   Sass Mixins
   * Vendor Prefixer
   * Responsive
   * CSS3
   * Utility Mixins
   * hiDpi
   * Forms
   ========================================================================== */
/* Vendor prefixer */
/* Responsive mixins */
/* ==========================================================================
   Responsive media query mixins
   * These are used so that we can define separate media-query content
     for <IE9 and browsers with support for media queries
   * These are directly related to the global $fix-mqs var defined in
     kickoff-old-ie.scss
   * kickoff-old-ie.scss ignores any content in media-queries with values less
     than the $fix-mqs var value
   ========================================================================== */
/*
   Min-width media query:
   * Equivalent to: @media screen and (min-width: 20em) { ... }
   * Usage: @include respond-min(500) { ... };
   * Argument is a pixel value WITHOUT a unit of measurement
   ========================================================================== */
/*
   Max-width media query:
   * Equivalent to: @media screen and (max-width: 20em) { ... }
   * Usage: @include respond-max(500) { ... };
   * Argument is a pixel value WITHOUT a unit of measurement
   ========================================================================== */
/*
   Min-max-width media query:
   * Equivalent to: @media screen and (min-width: 10em) and (max-width: 20em) { ... }
   * Usage: @include respond-min-max(500, 600) { ... };
   * Arguments are pixel values WITHOUT a unit of measurement
   ========================================================================== */
/*
   Old IE specific mixin
   * Only use this content if we're dealing with old IE
   * Usage: @include oldie() { ... }
   ========================================================================== */
/* CSS3 */
/* ==========================================================================
   Linear Gradient
   Usage: @include linear-gradient(#000, #BADA55, horizontal, true);
   ========================================================================== */
/* ==========================================================================
   Radial Gradient
   Usage: @include radial-gradient(#000, #BADA55, true);
   ========================================================================== */
/**
 * Utility mixins
 * Clearfix, REM + fallbacks, @font-face, sizing shortcuts, other helpers
 */
/* ==========================================================================
   Utility Mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* HiDPI */
/* FORMS */
/*
   CSS Reset
   ========================================================================== */
/* ==========================================================================
   Normalize - CSS reset

   http://github.com/necolas/normalize.css
   Kickoff uses an amended version of this file.
   ========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/* ============ */
/* === BASE === */
/* ============ */
body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

figure {
  margin: 0;
}

button,
input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*
   Global typography styles
   ========================================================================== */
/* ==========================================================================
   Typography

   * Body text
   * Base
   * Paragraphs
   * Headings
   * Lists
   * Quotes
   * Links
   * Helper classes

   Body font size, leadings etc have been set in _variables.scss.
   The default typography has been built using gridlover.net with these settings:
   * Body font size    : 16
   * Body line height  : 1.4

   Resources:
   * http://www.gridlover.net/
   * http://modularscale.com/
   * http://lamb.cc/typograph/
   ========================================================================== */
html {
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 1 */
}

body {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
}

/*
   Paragraphs
   ========================================================================== */
p {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 28px;
}

/*
   Headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #f04091;
  margin: 0;
  font-family: inherit;
  font-weight: normal;
  text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
}

h1, .h1, .alpha {
  font-size: 46px;
  font-size: 2.3rem;
  margin-top: 0;
  margin-bottom: 56px;
}

h2, .h2, .beta {
  font-size: 30px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 28px;
}

h3, .h3, .gamma {
  font-size: 24px;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

h4, .h4, .delta,
h5, .h5, .epsilon,
h6, .h6, .zeta {
  margin-top: 0;
  margin-bottom: 0;
}

h4, .h4, .delta {
  font-size: 20px;
  font-size: 1rem;
}

h5, .h5, .epsilon {
  font-size: 16px;
  font-size: 0.8rem;
}

h6, .h6, .zeta {
  font-size: 14px;
  font-size: 0.7rem;
  text-transform: uppercase;
}

* + h1, * + .h1, * + .alpha,
* + h2, * + .h2, * + .beta,
* + h3, * + .h3, * + .gamma,
* + h4, * + .h4, * + .delta,
* + h5, * + .h5, * + .epsilon,
* + h6, * + .h6, * + .zeta {
  margin-top: 28px;
}

/*
   Links
   ========================================================================== */
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/*
   Lists
   ========================================================================== */
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 37.5em) {
  ul, ol {
    margin: 0 0 28px 28px;
  }
}
ul ul, ul ol, ol ul, ol ol {
  margin-left: 56px;
}
ul ul, ol ul {
  list-style-type: circle;
}
ul ul ul, ol ul ul {
  list-style-type: square;
}
ul ol, ol ol {
  list-style-type: upper-roman;
}
ul ol ol, ol ol ol {
  list-style-type: lower-roman;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

.unstyled, form ul,
nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

/*
   Definition lists
   ========================================================================== */
dl {
  margin-bottom: 28px;
}

dt {
  font-weight: bold;
}
.dl-horizontal dt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  clear: left;
  width: 220px;
  text-align: right;
}

dd {
  margin-left: 28px;
}
.dl-horizontal dd {
  margin-left: 240px;
}

/*
   Miscellaneous rules
   ========================================================================== */
hr {
  margin: 28px 0;
  border: 0;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #fff;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.muted {
  color: #b3b3b3;
}

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/*
   Blockquotes
   ========================================================================== */
blockquote {
  padding-left: 10px;
  margin: 28px;
  border-left: 4px solid #cccccc;
}
blockquote p {
  margin-bottom: 0;
  font-size: 20px;
  font-size: 1rem;
  font-weight: 300;
}
blockquote small {
  display: block;
  color: #b3b3b3;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 10px;
  border-left: 0;
  border-right: 4px solid #cccccc;
}
blockquote.pull-right, blockquote.pull-right p, blockquote.pull-right small {
  text-align: right;
}

q:before, q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 28px;
  font-style: normal;
}

small {
  font-size: 75%;
}

cite {
  font-style: normal;
}

dfn {
  font-style: italic;
}

mark {
  background: #f1c40f;
  padding: 2px 4px;
  border-radius: 3px;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

/*
   Utilities
   ========================================================================== */
.text-centre, .text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

::-moz-selection {
  color: #fff;
  background: #f04091;
}

::selection {
  color: #fff;
  background: #f04091;
}

/* ==========================================================================
   Components:
   * Buttons
   * Lists
   * Forms
   * Embedded content
   * Media Object
   * Wells
   * Block grids
   * Tabs
   * Tables
   * Code
   ========================================================================== */
.btn {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  font-family: inherit;
  /* [4] */
  font-size: 100%;
  /* [4] */
  cursor: pointer;
  /* [5] */
  border: none;
  /* [6] */
  margin: 0;
  /* [6] */
  padding-top: 0;
  /* [6] */
  padding-bottom: 0;
  /* [6] */
  line-height: 2.5;
  /* [7] */
  height: 2.5em;
  /* [7] */
  padding-right: 1.5em;
  /* [7] */
  padding-left: 1.5em;
  /* [7] */
  overflow: visible;
  /* [8] */
  text-align: center;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn, .btn:hover, .btn:active, .btn:focus, .btn:visited {
  text-decoration: none;
}
.btn:active, .btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  zoom: 1;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn--large {
  font-size: 23px;
  font-size: 1.15rem;
  line-height: 3;
  height: 3em;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 6px;
}

.btn--medium {
  font-size: 20px;
  font-size: 1rem;
  line-height: 2;
  height: 2em;
  padding-right: 1.25em;
  padding-left: 1.25em;
  font-weight: bold;
  border-radius: 0px;
}

.btn--small {
  font-size: 13px;
  font-size: 0.65rem;
  line-height: 1.5;
  height: 1.5em;
  padding-right: 0.75em;
  padding-left: 0.75em;
}

.btn--pill {
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 100em;
}

.btn--block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn--block + .btn--block {
  margin-top: 10px;
}

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
  width: 100%;
}

.btn--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.btn--primary {
  background-color: #f07c0c;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn--primary:hover {
  background-color: #2c3e50;
}

.btn--link,
.btn--link:active,
.btn--link[disabled] {
  background-color: transparent;
  background-image: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn--link {
  border-color: transparent;
  cursor: pointer;
  color: #f07c0c;
  border-radius: 0;
}

.btn--link:hover,
.btn--link:focus {
  color: #bf630a;
  text-decoration: underline;
  background-color: transparent;
}

.btn--link[disabled]:hover,
.btn--link[disabled]:focus {
  color: #333;
  text-decoration: none;
}

/*
   Close Button: for lightboxes etc
   ========================================================================== */
.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 17px;
  background: #000;
  color: #f04091;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-close:hover {
  color: #fff;
  border-radius: 50px;
}

/*
	Centred lists

	<ul class="l-list--centred">
		<li></li>
	</ul>
	========================================================================== */
.l-list--centred, .l-list--centered {
  text-align: center;
}
.l-list--centred li, .l-list--centered li {
  display: inline;
}

/*
	Floated lists

	<ul class="l-list--floated">
		<li></li>
	</ul>
	========================================================================== */
.l-list--floated {
  zoom: 1;
}
.l-list--floated:before, .l-list--floated:after {
  display: table;
  content: " ";
}
.l-list--floated:after {
  clear: both;
}
.l-list--floated li {
  float: left;
  display: inline-block;
}

/* ==========================================================================
   Forms
   * Generic form styles
   * Form inputs and groups
   * Form field feedback states
   * Horizontal & vertical forms
   * Horizontal-specific styles
   ========================================================================== */
/* ==========================================================================
   Generic form styles
   * Demo: http://tmwagency.github.io/kickoff/demos/forms.html#layout-example-labels-above
   * Code: https://gist.github.com/mrmartineau/6712577#file-labels-above-inputs-html
   Usage:
    <ul>
    	<li class="form-controlGroup">
    		<label for="name" class="form-controlGroup-label">Name</label>
    		<div class="form-controlGroup-input">
    			<input type="text" id="name" placeholder="Zander Martineau" />
    		</div>
    	</li>
    </ul>
   ========================================================================== */
form {
  margin: 0 0 28px;
}

/* Fieldset */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* ==========================================================================
   Form inputs and groups
   ========================================================================== */
.form-controlGroup {
  margin-top: 14px;
  list-style-type: none;
}
legend + .form-controlGroup {
  margin-top: 28px;
  -webkit-margin-top-collapse: separate;
}

label,
input,
button,
select,
textarea {
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: normal;
  vertical-align: baseline;
  *vertical-align: middle;
}

input,
button,
select,
textarea {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #4d4d4d;
  font-weight: bold;
}
label small {
  font-weight: normal;
  color: #999999;
}
label.checkbox, label.radio {
  font-weight: normal;
  line-height: 1.4;
}
label input, label textarea, label select {
  display: block;
}

input,
textarea,
select,
.fileWrapper {
  display: block;
  padding: 2px 6px;
  font-size: 0.6rem;
  line-height: 1.4;
  color: #4d4d4d;
  background-color: #fff;
  border: 0 solid;
}

.textarea--uneditable {
  width: auto;
  height: auto;
}

input[type="image"], input[type="checkbox"], input[type="radio"], input[type="range"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="image"] {
  border: 0;
}
input[type="file"] {
  width: auto;
  height: 28px;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
  -o-box-shadow: none;
  box-shadow: none;
}
input[type="image"], input[type="range"], input[type="range"]:focus {
  -o-box-shadow: none;
  box-shadow: none;
}
input[type="hidden"] {
  display: none;
}
input[type="color"] {
  height: 40px;
  width: 40px;
  overflow: hidden;
  padding: 2px;
}
input[type="password"] {
  font-family: sans-serif;
}
input[type="range"] {
  width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
}

select {
  background-color: #fff;
}
select[multiple], select[size] {
  height: auto;
}

textarea {
  height: auto;
  resize: vertical;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 28px;
  font-size: 30px;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #4d4d4d;
  border: 0;
  border-bottom: 1px solid #eee;
  white-space: normal;
}
legend small {
  font-size: 15px;
  font-size: 0.75rem;
  color: #b3b3b3;
}

.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"], .radio input[type="checkbox"],
.checkbox input[type="radio"],
.checkbox input[type="checkbox"] {
  margin-left: -18px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline;
}

.control--inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.control--inline + .control--inline {
  margin-left: 10px;
}

.form-controlGroup-input > .radio:first-child, .form-controlGroup-input > .checkbox:first-child {
  padding-top: 5px;
}

input,
textarea,
.fileWrapper {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: none;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -o-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.input--mini {
  width: 60px;
}

.input--small {
  width: 90px;
}

.input--medium {
  width: 150px;
}

.input--large {
  width: 210px;
}

.input--xlarge {
  width: 270px;
}

.input--xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  float: none;
  margin-left: 0;
}

.fileWrapper input {
  width: 90%;
  line-height: 0;
}

input[disabled], input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #b3b3b3;
  border-color: #ddd;
  cursor: not-allowed;
}
input:focus:required:invalid,
select:focus:required:invalid,
textarea:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
select:focus:required:invalid:focus,
textarea:focus:required:invalid:focus {
  border-color: #e9322d;
  -o-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/*
   Both horizontal & vertical forms
   ========================================================================== */
.form--inline input, .form--inline textarea, .form--inline select, .form--inline .form-helpInline,
.form--horizontal input,
.form--horizontal textarea,
.form--horizontal select,
.form--horizontal .form-helpInline {
  display: inline-block;
  margin-bottom: 0;
}
.form--inline .hide,
.form--horizontal .hide {
  display: none;
}

/*
   Inline & search forms specific styles
   ========================================================================== */
.form--inline > * {
  margin-right: 10px;
  vertical-align: top;
}
.form--inline > *:last-child {
  margin-right: 0;
}
.form--inline label {
  display: inline-block;
}
.form--inline .radio, .form--inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form--inline .radio input[type="radio"], .form--inline .checkbox input[type="checkbox"] {
  margin-left: 0;
  margin-right: 3px;
}

/*
   Search input
   ========================================================================== */
.form--search-input {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  border-radius: 100px;
}

/*
   Form actions
   ========================================================================== */
.form-actions {
  padding: 27px 20px 28px;
  margin-top: 28px;
  margin-bottom: 28px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  zoom: 1;
}
.form-actions:before, .form-actions:after {
  display: table;
  content: " ";
}
.form-actions:after {
  clear: both;
}
.form-actions .btn {
  margin-right: 10px;
}
.form-actions .btn:last-child {
  margin-right: 0;
}

/*
   Form field feedback states
   ========================================================================== */
.form-controlGroup.form-controlGroup--warning > label,
.form-controlGroup.form-controlGroup--warning .help-block,
.form-controlGroup.form-controlGroup--warning .help-inline {
  color: #c09853;
}
.form-controlGroup.form-controlGroup--warning input,
.form-controlGroup.form-controlGroup--warning select,
.form-controlGroup.form-controlGroup--warning textarea {
  color: #c09853;
}

.form-controlGroup.form-controlGroup--error > label,
.form-controlGroup.form-controlGroup--error .help-block,
.form-controlGroup.form-controlGroup--error .help-inline {
  color: #b94a48;
}
.form-controlGroup.form-controlGroup--error input,
.form-controlGroup.form-controlGroup--error select,
.form-controlGroup.form-controlGroup--error textarea {
  color: #b94a48;
}

.form-controlGroup.form-controlGroup--success > label,
.form-controlGroup.form-controlGroup--success .help-block,
.form-controlGroup.form-controlGroup--success .help-inline {
  color: #468847;
}
.form-controlGroup.form-controlGroup--success input,
.form-controlGroup.form-controlGroup--success select,
.form-controlGroup.form-controlGroup--success textarea {
  color: #468847;
}

/*
   Placeholder text
   * Gets special styles; can't be bundled together though for some reason
   ========================================================================== */
:-ms-input-placeholder {
  color: #b3b3b3;
}

:-moz-placeholder {
  color: #b3b3b3;
}

::-webkit-input-placeholder {
  color: #b3b3b3;
}

.form-helpBlock,
.form-helpInline {
  color: #c2c2c2;
}

.form-helpBlock {
  display: block;
  margin-bottom: 14px;
}

.form-helpInline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

@media screen and (min-width: 43.75em) {
  /* ==========================================================================
     Horizontal-specific styles
     * add .form--horizontal to the <form> element
     * Demo: http://tmwagency.github.io/kickoff/demos/forms.html#layout-example-labels-inline
     * Code: https://gist.github.com/mrmartineau/6712577#file-labels-inline-html
     ========================================================================== */
  .form--horizontal .form-controlGroup {
    margin-bottom: 28px;
    zoom: 1;
  }
  .form--horizontal .form-controlGroup:before, .form--horizontal .form-controlGroup:after {
    display: table;
    content: " ";
  }
  .form--horizontal .form-controlGroup:after {
    clear: both;
  }
  .form--horizontal .form-controlGroup-label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
  }
  .form--horizontal .form-controlGroup-input {
    margin-left: 160px;
  }
  .form--horizontal .form-controlGroup-input:first-child {
    *padding-left: 160px;
  }
  .form--horizontal .form-controlGroup .fileWrapper {
    margin-left: 0;
  }
  .form--horizontal .form-helpBlock {
    margin-top: 14px;
    margin-bottom: 0;
  }
  .form--horizontal .form-actions {
    padding-left: 160px;
  }
}
/*
   Icons
   ========================================================================== */
[class^="icon-"], [class*=" icon-"] {
  speak: none;
}

.icon-large {
  display: block;
  width: 120px;
  height: 120px;
}

.icon-small {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
}

/*
	Embedded content
	========================================================================== */
img {
  font-style: italic;
  color: #c00;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img.img--left {
  margin: 0 20px 0 0;
}
img.img--right {
  margin: 0 0 0 20px;
}

svg:not(:root) {
  overflow: hidden;
}

img, object, embed, video {
  max-width: 100%;
  height: auto;
}

/*
	Media Object

	* Place any image- and text-like content side-by-side, as per:
	* stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
	*
	** Image is optional **
	*
	* Markup:
	*
	<div class="media">
		<img src="http://placekitten.com/100/100" alt="" class="media-img>"
		<p class="media-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	========================================================================== */
.media {
  display: block;
  padding: 20px 0;
}

/*
   Add image to left or right
   ========================================================================== */
.media-img {
  margin-right: 28px;
}

/**
 * Reversed image location (right instead of left).
 */
.media-img--rev {
  float: right;
  margin-left: 28px;
}

.media-img img,
.media-img--rev img {
  display: block;
}

.media-body {
  overflow: hidden;
}

.media-body,
.media-body > :last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 25em) {
  .media {
    padding: 35px 0;
  }

  .media--zeroTopPad {
    padding-top: 0;
  }

  .media-img {
    float: left;
  }
}
/*
	Media Object

	* Place any image- and text-like content side-by-side, as per:
	* stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
	* E.g.:
	*
	<div class="media">
		<img src="http://placekitten.com/100/100" alt="" class="media-img>"
		<p class="media-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	========================================================================== */
.media {
  display: block;
}

.media-img {
  float: left;
  margin-right: 28px;
}

/**
 * Reversed image location (right instead of left).
 */
.media-img--rev {
  float: right;
  margin-left: 28px;
}

.media-img img,
.media-img--rev img {
  display: block;
}

.media-body {
  overflow: hidden;
}

.media-body,
.media-body > :last-child {
  margin-bottom: 0;
}

/**
 * Consider moving images and floats so only wide viewports see them
 */
/*
   Fluid width video
   * 16:9 aspect ratio by default
   * Usage:
   * <div class="fluidVideo"><iframe src="..."/></div
   ========================================================================== */
.fluidVideo {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.fluidVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
   Block grids

   These are 2-up, 3-up, 4-up and 5-up ULs, suited for repeating blocks of content. Add 'mobile' to them to switch them just like the layout grid (one item per line) on phones. For IE7/8 compatibility blockGrid items need to be the same height. You can optionally uncomment the lines below to support arbitrary height, but know that IE7/8 do not support :nth-child.

   Usage:
   <ul class="l-blockGrid l-blockGrid--twoUp">
       <li></li>
   </ul    ========================================================================== */
.l-blockGrid {
  display: block;
  list-style-type: none;
  zoom: 1;
}
.l-blockGrid:before, .l-blockGrid:after {
  display: table;
  content: " ";
}
.l-blockGrid:after {
  clear: both;
}
.l-blockGrid li {
  display: block;
  height: auto;
}

@media screen and (min-width: 43.75em) {
  .l-blockGrid li {
    display: block;
    height: auto;
    float: left;
  }
  .l-blockGrid.l-blockGrid--twoUp {
    margin-left: -4%;
  }
  .l-blockGrid.l-blockGrid--twoUp li {
    margin-left: 4%;
    width: 46%;
    margin-bottom: 4%;
  }
  .l-blockGrid.l-blockGrid--threeUp {
    margin-left: -2%;
  }
  .l-blockGrid.l-blockGrid--threeUp li {
    margin-left: 2%;
    width: 31.3%;
    margin-bottom: 2%;
  }
  .l-blockGrid.l-blockGrid--fourUp {
    margin-left: -2%;
  }
  .l-blockGrid.l-blockGrid--fourUp li {
    margin-left: 2%;
    width: 23%;
    margin-bottom: 2%;
  }
  .l-blockGrid.l-blockGrid--fiveUp {
    margin-left: -1.5%;
  }
  .l-blockGrid.l-blockGrid--fiveUp li {
    margin-left: 1.5%;
    width: 18.5%;
    margin-bottom: 1.5%;
  }
}
.blogList li {
  overflow: hidden;
  position: relative;
  float: left;
}
@media screen and (min-width: 37.5em) {
  .no-js .blogList {
    margin-left: -4%;
  }
  .no-js .blogList li {
    height: auto;
    margin-left: 4%;
    width: 46%;
    margin-bottom: 4%;
    overflow: hidden;
  }
}
@media screen and (min-width: 62em) {
  .no-js .blogList {
    margin-left: -2%;
  }
  .no-js .blogList li {
    margin-left: 2%;
    width: 31.3%;
    margin-bottom: 2%;
  }
}
.js .blogList li {
  width: 100%;
}
@media screen and (min-width: 37.5em) {
  .js .blogList li {
    float: left;
    width: 49%;
  }
}
@media screen and (min-width: 62em) {
  .js .blogList li {
    width: 32%;
  }
}

.gutter-sizer {
  width: 0;
  width: 1%;
}

@media screen and (min-width: 37.5em) {
  .grid-sizer {
    width: 49%;
  }
}
@media screen and (min-width: 62em) {
  .grid-sizer {
    width: 32%;
  }
}

.effeckt-caption {
  position: relative;
}

.effeckt-caption figcaption {
  position: absolute;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
       transition: 500ms;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.effeckt-caption figcaption p {
  margin: 0;
}

.effeckt-figcaption-wrap h3 {
  color: white;
}

.effeckt-caption figcaption {
  bottom: 0;
  left: 0;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
       transform: scale(2);
  text-align: center;
  opacity: 0;
  padding: 10px;
}

.effeckt-caption img {
  -webkit-transition: 500ms;
     -moz-transition: 500ms;
          transition: 500ms;
  width: 100%;
  height: auto;
  display: block;
}

.effeckt-caption:hover figcaption,
.effeckt-caption:active figcaption,
.effeckt-caption.active figcaption {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
       transform: scale(1);
  opacity: 1;
}

.effeckt-caption:hover img,
.effeckt-caption:active img,
.effeckt-caption.active img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
       transform: scale(1.1);
}

.effeckt-button[data-effeckt-type="fill-from-top"] {
  overflow: hidden;
  position: relative;
}

.effeckt-button[data-effeckt-type="fill-from-top"]:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f07c0c;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
       transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -ms-transform 500ms;
  -moz-transition: -moz-transform 500ms;
       transition: transform 500ms;
}

.effeckt-button[data-effeckt-type="fill-from-top"][data-loading]:after {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
       transform: translate(0, 0);
}

.effeckt-button[data-effeckt-type="fill-from-top"] .effeckt-button-label {
  position: relative;
  z-index: 1;
}

/* Search bar style ------------------------------------------------------------------ */
.sb-search {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  min-width: 40px;
  height: 40px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}
@media screen and (min-width: 37.5em) {
  .sb-search {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid #f04091;
  outline: none;
  /*background: ;*/
  height: 40px;
  margin: 0;
  z-index: 10;
  padding: 20px 65px 15px 20px;
  font-family: inherit;
  font-weight: lighter;
  font-size: 1rem;
  color: #f04091;
  width: 100%;
}
@media screen and (min-width: 37.5em) {
  .sb-search-input {
    width: 350px;
  }
}

.sb-search-input::-webkit-input-placeholder {
  color: #f04091;
}

.sb-search-input:-moz-placeholder {
  color: #f04091;
}

.sb-search-input::-moz-placeholder {
  color: #f04091;
}

.sb-search-input:-ms-input-placeholder {
  color: #f04091;
}

.sb-icon-search,
.sb-search-submit {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: #fff;
  background: #f04091;
  z-index: 90;
  font-size: 1rem;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
  content: "\e601";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #bb0f5e;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}

/*
   Grid System
   * Default: Choreographic Grid. Switch out for your own if you need
   * See http://tmwagency.github.io/kickoff/docs/grid.html for more info
   ========================================================================== */
/* ==========================================================================
	 The Choreographic Grid
	 * Grid setup
	 * Grid helpers/mixins
	 * Default grid styles
	 * Media queries
	 * Centred columns
	 ========================================================================== */
/*
	 Basic Usage:
	 <div class="g-row">
			 <div class="g-col g-span4"></div>
			 <div class="g-col g-span8"></div>
	 </div>
	 ========================================================================== */
/*
	 Import Grid helpers and mixins
	 ========================================================================== */
/* ==========================================================================
   Choreographic Grid helpers
   ========================================================================== */
/*
	 Grid Setup Defaults
	 * Choose your grid options.
	 ** THESE WILL BE OVERRIDDEN BY THE SETTINGS IN _variables.scss **
	 ========================================================================== */
/* Setup grid defaults */
/* Column Padding */
/*
   Grid column mixin
   ========================================================================== */
/*
   Grid columns width calcs
   ========================================================================== */
/*
   Column width mixin
   ========================================================================== */
/*
   Gutter calcs
   * Default: percent
   * Usage: gutterCalc() or gutterCalc(false)
   ========================================================================== */
/*
   Column padding (gutter)
   * Default: percent (can be pixels though)
   * Usage: paddingCalc() or paddingCalc(px)
   ========================================================================== */
/*
   Shunts, offset columns, column source order calculations
   ========================================================================== */
/* ==========================================================================
	 Default grid styles
	 ========================================================================== */
.g-container {
  padding-left: 0px;
  padding-right: 0px;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}
.lt-ie9 .g-container {
  min-width: 1000px;
}

.g-row {
  width: 100%;
  margin: 0 auto;
  zoom: 1;
}
.g-row:before, .g-row:after {
  content: " ";
  display: table;
}
.g-row:after {
  clear: both;
}
.g-row .g-row {
  min-width: 0;
}
.g-row .g-row .g-col {
  padding: 0;
}

/* ==========================================================================
	 Media queries
	 ========================================================================== */
@media screen and (min-width: 43.75em) {
  .g-col {
    margin-left: 1%;
    padding: 10px;
    float: left;
    min-height: 1px;
    position: relative;
    clear: none;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .g-col:first-child {
    margin-left: 0;
  }
  .g-col + .g-col:last-child {
    float: right;
  }
  .g-col + .g-col.end {
    float: left;
  }

  .g-span1, .g-mq-alpha-resize-to1 {
    width: 7.41666667%;
  }

  .g-span2, .g-mq-alpha-resize-to2 {
    width: 15.83333333%;
  }

  .g-span3, .g-mq-alpha-resize-to3 {
    width: 24.25%;
  }

  .g-span4, .g-mq-alpha-resize-to4 {
    width: 32.66666667%;
  }

  .g-span5, .g-mq-alpha-resize-to5 {
    width: 41.08333333%;
  }

  .g-span6, .g-mq-alpha-resize-to6 {
    width: 49.5%;
  }

  .g-span7, .g-mq-alpha-resize-to7 {
    width: 57.91666667%;
  }

  .g-span8, .g-mq-alpha-resize-to8 {
    width: 66.33333333%;
  }

  .g-span9, .g-mq-alpha-resize-to9 {
    width: 74.75%;
  }

  .g-span10, .g-mq-alpha-resize-to10 {
    width: 83.16666667%;
  }

  .g-span11, .g-mq-alpha-resize-to11 {
    width: 91.58333333%;
  }

  .g-span12, .g-mq-alpha-resize-to12 {
    width: 100%;
  }

  .g-split .g-col, .g-shunt {
    float: none;
    margin-left: 0;
    min-height: 1px;
    position: relative;
    width: 100%;
    clear: both;
  }
}
@media screen and (min-width: 62em) {
  .g-mq-beta-end {
    float: right;
  }

  .g-mq-beta-end {
    float: left;
  }
}
/*
	 Centred columns
	 ========================================================================== */
.g-centered.g-col, .g-centred.g-col {
  float: none;
  margin: 0 auto;
}

/*
   Your app styles
   ========================================================================== */
/* ==========================================================================
   Global app/site styles
   ========================================================================== */
body {
  background-color: #eaebed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: fixed;
}

.masthead, .footer {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.copyText {
  width: 95%;
  max-width: 950px;
  margin: 0 auto;
}

.masthead {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 0 30px 5px;
  text-align: center;
  margin-top: 10px;
}
@media screen and (min-width: 37.5em) {
  .masthead {
    margin-top: 50px;
    text-align: left;
  }
}
.masthead .influence {
  margin-bottom: 15px;
}
@media screen and (min-width: 37.5em) {
  .masthead .influence {
    display: inline-block;
    margin-bottom: 0;
  }
}
.masthead .power {
  margin-bottom: 40px;
}
@media screen and (min-width: 37.5em) {
  .masthead .power {
    margin: 0;
    padding-top: 16px;
  }
}

@media screen and (min-width: 37.5em) {
  .formContainer {
    float: right;
    text-align: right;
    overflow: hidden;
  }
}

/* intro style ------------------------------------------------------------------ */
.welcome p,
.tag-cloud p {
  margin: 0;
}

.welcome {
  padding: 2%;
  background-color: #3a4c5d;
}
@media screen and (min-width: 37.5em) {
  .welcome {
    width: 48% !important;
  }
}
@media screen and (min-width: 62em) {
  .welcome {
    width: 65% !important;
  }
}

.tag-cloud {
  background-color: #f04091;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 37.5em) {
  .tag-cloud {
    height: 100%;
  }
}
.tag-cloud a {
  color: #fff;
}
.tag-cloud p {
  position: relative;
  top: 0;
  -webkit-transform: 0;
     -moz-transform: 0;
      -ms-transform: 0;
          transform: 0;
}
@media screen and (min-width: 37.5em) {
  .tag-cloud p {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.blogTable {
  margin-top: 10px;
}
@media screen and (min-width: 25em) {
  .blogTable {
    width: 101%;
  }
}
@media screen and (min-width: 62em) {
  .blogTable {
    width: 102%;
  }
}

.opener {
  background-color: #f04091;
  padding: 20px 35px;
  color: white;
  font-style: italic;
  display: none;
}

.content {
  background-color: #c2c2c2;
  color: white;
}

.header {
  background-color: #f04091;
  padding: 5px 15px;
}
@media screen and (min-width: 37.5em) {
  .header {
    padding: 5px 30px;
  }
}
.header h1,
.header h2 {
  margin: 0;
  color: #fff;
}

.meta {
  padding: 5px 15px;
}
.meta p, .meta a {
  margin: 0;
  font-size: 0.7rem;
  color: #3a4c5d;
}
.meta p span {
  font-weight: bold;
  font-style: normal;
}

.archive p {
  color: #3a4c5d;
  font-style: normal !important;
  font-size: 0.7rem;
}

.archivePosts {
  list-style-type: none;
}

.post {
  padding: 5px 15px;
}
.post a {
  color: #f04091;
  text-decoration: underline;
}
.post p {
  color: #3a4c5d;
  font-style: normal !important;
  font-size: 0.7rem;
}
.post img {
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.aligncenter {
  margin: 0 auto;
}

.comments-area {
  background-color: white;
  padding: 5px;
}
.comments-area textarea#comment {
  width: 100%;
  margin-bottom: 8px;
}

.footer {
  background-color: #f04091;
  font-family: 'icomoon';
  color: white;
  position: relative;
  margin-top: 10px;
}
.footer p, .footer a {
  text-align: center;
  display: inline-block;
  margin: 2px 0;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 37.5em) {
  .footer p, .footer a {
    margin: 0;
    display: inline-block;
  }
}
.footer .old,
.footer .new {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 43px;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 37.5em) {
  .footer .old,
  .footer .new {
    line-height: 47px;
  }
}
.footer .old {
  float: right;
}
.footer .new {
  float: left;
}

.copyText {
  text-align: right;
  margin-top: 5px;
  position: relative;
}
.copyText p {
  font-style: normal;
  color: #3a4c5d;
  font-size: 0.5rem;
  font-weight: bold;
}

/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */
/*
   Retina media query
   ========================================================================== */
/* Examples: */
/*
   Utility classes
   * Has to be last to override when necessary
   ========================================================================== */
/* ==========================================================================
   Utilities
   Non-semantic helper classes
   ========================================================================== */
/**
 * Clearfix
 * See mixins/_utility.scss for a mixin version of this
 */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.is-shown {
  display: block;
}

.is-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.is-visuallyHidden.focusable:active, .is-visuallyHidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.is-invisible {
  visibility: hidden;
}

.l-floatLeft {
  float: left;
}

.l-floatRight {
  float: right;
}

.l-clear {
  clear: both;
  float: none;
}

.l-mb0 {
  margin-bottom: 0 !important;
}

.l-mt0 {
  margin-top: 0 !important;
}

/* ==========================================================================
   Responsive Utilities
   ========================================================================== */
@-ms-viewport {
  width: device-width;
}
* {
  -webkit-tap-highlight-color: #f04091 !important;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
/* Print styles */
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
