/* ==========================================================================
   Colour palette (yeah we're British!)
   ========================================================================== */

// Generic colours
$blue                         : #3a4c5d;
$blueDark                     : darken($blue, 20%);
$green                        : #1abc9c;
$red                          : #c0392b;
$yellow                       : #f1c40f;
$orange                       : #f07c0c;
$pink                         : #f04091;
$purple                       : #8e44ad;
$gray                         : #c2c2c2;

// Colour Scheme
$color-primary                : $pink;
$color-secondary              : $red;
$color-highlight              : $yellow;

// Common colours
$color-text                   : #fff;
$color-background             : #eaebed;
$header-background			  : #fff;
$color-border                 : #ddd;

// Text Selection
$color-selection              : #fff;
$color-selection-bg           : $color-primary;


// Links
$color-link-default           : $orange;
$color-link-visited           : $orange;
$color-link-hover             : darken($orange, 10%);
$color-link-active            : darken($orange, 10%);


// Buttons
$btn-background               : #fff;
$btn-background-highlight     : darken(#fff, 10%);
$btn-border                   : #ccc;

$btn-primary-background       : $color-link-default;
$btn-primary-background-highlight: #2c3e50;


// Tabs
$inactive-tab                 : #95a5a6;
$active-tab                   : $green;


// Code
$color-code                   : #d14;
$color-code-background        : #fbefc0;
$color-pre                    : #222;
$color-pre-background         : #f7f7f9;



// Messages
$color-message                : #f4ecbb;
$color-success                : #2cde2c;
$color-warning                : #cf8600;
$color-important              : #d00;
$color-notice                 : #66b;



// === Component variables ===
// ===========================
// Forms
$input-background             : #fff;
$input-border                 : #ccc;
$input-disabled-background    : lighten(#000, 70%);
$form-actions-background      : #f5f5f5;
$label-color                 : lighten(#000, 30%);
$input-color                 : lighten(#000, 30%);

// Input placeholder text color
$placeholder-text             : lighten(#000, 70%);

// Tables
$table-background             : transparent; // overall background-color
$table-background-accent      : #f9f9f9; // for striping
$table-background-hover       : #f5f5f5; // for hover
$table-border                 : #ddd; // table and cell border

// Form states and alerts
$warning-text                 : #c09853;
$warning-background           : #fcf8e3;
$warning-border               : darken(adjust-hue($warning-background, -10), 3%);

$error-text                   : #b94a48;
$error-background             : #f2dede;
$error-border                 : darken(adjust-hue($error-background, -10), 3%);

$success-text                  : #468847;
$success-background            : #dff0d8;
$success-border                : darken(adjust-hue($success-background, -10), 5%);

$info-text                     : #3a87ad;
$info-background               : #d9edf7;
$info-border                   : darken(adjust-hue($info-background, -10), 7%);

// <hr> border colour
$hr-border                     : lighten(#000, 70%);
