/* ==========================================================================
   Global app/site styles
   ========================================================================== */
body {
	background-color: $color-background;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: fixed;
}

.masthead, .footer {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.copyText {
	width: 95%;
	max-width: 950px;
	margin: 0 auto;


}

.masthead {
	background-color: $header-background;
	margin-bottom: 10px;
	padding: 0 30px 5px;
	text-align: center;
	margin-top: 10px;

	@include respond-min($breakpoint-mid) {
		margin-top: 50px;
		text-align: left;
	}

	.influence {
		margin-bottom: 15px;

		@include respond-min($breakpoint-mid) {
			display: inline-block;
			margin-bottom: 0;
			// vertical-align: bottom;
		}
	}

	.power {
		margin-bottom: 40px;

		@include respond-min($breakpoint-mid) {
			margin: 0;
			padding-top: 16px;
		}
	}
}

.formContainer {
	@include respond-min($breakpoint-mid) {
		float: right;
		text-align: right;
		overflow: hidden;
	}
}

/* intro style ------------------------------------------------------------------ */


.welcome,
.tag-cloud {

	p {
		margin: 0;
	}
}

.welcome {
	padding: 2%;
	background-color: $blue;

    @include respond-min($breakpoint-mid){
        width: 48% !important;
    }

    @include respond-min($breakpoint-wide){
        width: 65% !important;
    }
}

.tag-cloud {
	background-color: $pink;
	position: relative;
	text-align: center;

	@include respond-min($breakpoint-mid) {
		height: 100%;
	}

	a {
		color: #fff;
	}

	p {
		position: relative;
		top: 0;
		transform: 0;


		@include respond-min($breakpoint-mid){
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

// ------------------------ content -----------------------------

.blogTable {
	margin-top: 10px;

	@include respond-min($breakpoint-narrow) {
		width: 101%;
	}
	@include respond-min($breakpoint-wide) {
		width: 102%;
	}
}

.opener {
	background-color: $pink;
	padding: 20px 35px;
	color: white;
	font-style:italic;
	display: none;
}

.content {
	background-color: $gray;
	color: white;
}

.header {
	background-color: $pink;
	padding: 5px 15px;

	@include respond-min($breakpoint-mid) {
		padding: 5px 30px;
	}

	h1,
	h2 {
		margin: 0;
		color: #fff;
	}
}

.meta {
	padding: 5px 15px;

	p, a {
	margin: 0;
	font-size: 0.7rem;
	color: $blue;
	}

	p span {
		font-weight: bold;
		font-style: normal;
	}
}

.archive p {
		color: $blue;
		font-style: normal !important;
		font-size: 0.7rem;
	}

.archivePosts {
	list-style-type: none;
}

.post{
	padding: 5px 15px;

	a {
		color: $pink;
		text-decoration: underline;
	}

	p {
		color: $blue;
		font-style: normal !important;
		font-size: 0.7rem;
	}

	img {
		// width: 100%;
		height: auto;
		text-align: center;
		margin: 0 auto;
		display: block;
	}
}

.aligncenter {
	margin: 0 auto;
}
.comments-area {
	background-color: white;
	padding: 5px;

	label {
		// color: darken($gray, 20%);
	}

	textarea#comment {
		width: 100%;
		margin-bottom: 8px;
	}
}


// ------------------------ footer -----------------------------
.footer {
	background-color: $pink;
	font-family: 'icomoon';
	// padding: 5px 35px;
	color: white;
	position: relative;
	margin-top: 10px;

	p, a {
		text-align: center;
		display: inline-block;
		margin: 2px 0;
		color: white;
		font-weight: bold;

		@include respond-min($breakpoint-mid) {
			margin: 0;
			display: inline-block;
			// font-size: 14px;
		}
	}

	.old,
	.new {
		display: block;
		width: 40px;
		height: 40px;
		line-height: 43px;
		padding: 0;
		margin: 0;
		text-align: center;
		cursor: pointer;

		@include respond-min($breakpoint-mid){
			line-height: 47px;
		}
	}

	.old {
		float: right;
	}

	.new {
		float: left;
	}
}

.copyText {
	text-align: right;
	margin-top: 5px;
	position: relative;

	p {
		font-style: normal;
		color: $blue;
		font-size: 0.5rem;
		font-weight: bold;
	}
}

/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */

/*
   Retina media query
   ========================================================================== */
@include hidpi() {

}



// === $breakpoint-narrow> ===
@include respond-min($breakpoint-narrow) {

}
// === end $breakpoint-narrow> ===



// === $breakpoint-mid> ===
@include respond-min($breakpoint-mid) {

}
// === end $breakpoint-mid> ===


// === $breakpoint-wide> ===
@include respond-min($breakpoint-wide) {

}
// === end $breakpoint-wide> ===


// === $breakpoint-huge> ===
@include respond-min($breakpoint-huge) {

}
// === end $breakpoint-huge> ===
