/* ==========================================================================
   Typography

   * Body text
   * Base
   * Paragraphs
   * Headings
   * Lists
   * Quotes
   * Links
   * Helper classes

   Body font size, leadings etc have been set in _variables.scss.
   The default typography has been built using gridlover.net with these settings:
   * Body font size    : 16
   * Body line height  : 1.4

   Resources:
   * http://www.gridlover.net/
   * http://modularscale.com/
   * http://lamb.cc/typograph/
   ========================================================================== */

// 1. Prevents iOS text size adjust after orientation change, without disabling user zoom
// www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
html {
	font-size: $base-font-size + px;
	-webkit-text-size-adjust: 100%; /* 1 */
	-ms-text-size-adjust: 100%; /* 1 */
}

// Body text
body {
	font-family: $base-font-family;
	@include font-size($base-font-size);
	line-height: $base-leading;
	color: $color-text;

	// Two ways to smoothen type, they are disabled by default
	// Enable only one of them if you need them
	// =========================================
	// 1.
	// -webkit-font-smoothing: antialiased;
	//    -moz-font-smoothing: antialiased;
	// font-smooth:always;

	// 2.
	// @include opacity(99);
}

/*
   Paragraphs
   ========================================================================== */
p {
	font-family: $base-font-family;
	@include font-size($base-font-size);
	margin-top: 0;
	margin-bottom: $base-line-height + px;

	// Measure - ideally about 65 chars per line
	// =========================================
	// max-width: $base-font-size * 30 + px;

	// & small {
	// 	color: lighten($color-text, 10%);
	// }
}

/*
   Headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
	color: $pink;
	margin: 0;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	text-rendering: optimizelegibility; // Fix the character spacing for headings

	& small {
		font-weight: normal;
	}
}

// Use the helper classes to emulate styles for another element
// For example: h3.h1 or h3.alpha
h1, .h1, .alpha {
	@include font-size($h1-size);
	margin-top: 0;
	margin-bottom: ($base-line-height * 2) + px;
}

h2, .h2, .beta {
	@include font-size($h2-size);
	margin-top: 0;
	margin-bottom: $base-line-height + px;
}

h3, .h3, .gamma {
	@include font-size($h3-size);
	margin-top: 0;
	margin-bottom: 0;
}

h4, .h4, .delta,
h5, .h5, .epsilon,
h6, .h6, .zeta {
	margin-top: 0;
	margin-bottom: 0;
}

h4, .h4, .delta {
	@include font-size($h4-size);
}

h5, .h5, .epsilon {
	@include font-size($h5-size);
}

h6, .h6, .zeta {
	@include font-size($h6-size);
	text-transform: uppercase;
}

* + h1, * + .h1, * + .alpha,
* + h2, * + .h2, * + .beta,
* + h3, * + .h3, * + .gamma,
* + h4, * + .h4, * + .delta,
* + h5, * + .h5, * + .epsilon,
* + h6, * + .h6, * + .zeta {
	margin-top: $base-line-height + px;
}

/*
   Links
   ========================================================================== */
a {
	// color: $color-link-default;
	text-decoration: none;

	&:visited {
		// color: $color-link-visited;
		text-decoration: none;
	}
	&:hover, &:focus {
		// color: $color-link-hover;
		//text-decoration: underline;
	}
	&:active {
		// color: $color-link-active;
		//text-decoration: underline;
	}
}


/*
   Lists
   ========================================================================== */
// Default list styles
ul { list-style-type: disc }
ol { list-style-type: decimal }

// Unordered and Ordered lists
// Add a .unstyled class to unordered/ordered lists if you want them to have bullets/numbers
ul, ol {
	padding: 0;
	margin: 0;

	@include respond-min($breakpoint-mid) {
		margin: 0 0 ($base-line-height + px) ($base-line-height + px);
	}

	& ul,
	& ol {
		margin-left: ($base-line-height * 2) + px;
	}

	& ul {
		list-style-type: circle;
		& ul {
			list-style-type: square;
		}
	}

	& ol {
		list-style-type: upper-roman;
		& ol {
			list-style-type: lower-roman;
		}
	}

	& ul,
	& ol {
		margin-bottom: 0;
	}
}

.unstyled,
nav ul, nav ol {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}


/*
   Definition lists
   ========================================================================== */
dl {
	margin-bottom: $base-line-height + px;
}

dt {
	font-weight:$bold-font-weight;

	// Horizontal layout (like forms)
	.dl-horizontal & {
		@include text-overflow();
		float: left;
		clear: left;
		width: 220px;
		text-align: right;
	}
}

dd {
	margin-left: $base-line-height + px;

	.dl-horizontal & {
		margin-left: 240px;
	}
}


/*
   Miscellaneous rules
   ========================================================================== */
// Horizontal rules
hr {
	margin: ($base-line-height + px) 0;
	border: 0;
	border-top: 1px solid $hr-border;
	border-bottom: 1px solid #fff;
}

// Emphasis
strong, b {
	font-weight: $bold-font-weight;
}
em, i {
	font-style: italic;
}
.muted {
	color: lighten(#000, 70%);
}

// Abbreviations and acronyms
abbr[title] {
	border-bottom: 1px dotted #ddd;
	cursor: help;
}
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

/*
   Blockquotes
   ========================================================================== */
blockquote {
	padding-left: 10px;
	margin: ($base-line-height + px);
	border-left: 4px solid lighten(#000, 80%);

	& p {
		margin-bottom: 0;
		@include font-size($base-font-size);
		font-weight: 300;
	}

	& small {
		display: block;
		color: lighten(#000, 70%);

		&:before {
			content: '\2014 \00A0';
		}
	}

	// Float right with text-align: right
	&.pull-right {
		float: right;
		padding-left: 0;
		padding-right: 10px;
		border-left: 0;
		border-right: 4px solid lighten(#000, 80%);

		&, & p, & small {
			text-align: right;
		}
	}
}

// Quotes
q,
blockquote {
	&:before,
	&:after {
		content: "";
	}
}

// Addresses
address {
	display: block;
	margin-bottom: $base-line-height + px;
	font-style: normal;
}

small {
	font-size: 75%;
}

cite {
	font-style: normal;
}

// Addresses styling not present in S5, Chrome
dfn {
	font-style: italic;
}

// Addresses styling not present in IE6/7/8/9
mark {
	background: $yellow;
	padding: 2px 4px;
	@include border-radius(3px);
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

samp {
	font-family: $mono-font-family;
}


/*
   Utilities
   ========================================================================== */
.text-centre, .text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

::-moz-selection {
	color: $color-selection;
	background: $color-selection-bg;
}
::selection {
	color: $color-selection;
	background: $color-selection-bg;
}
