/* Search bar style ------------------------------------------------------------------ */

.sb-search {
	position: absolute;
	bottom: 0;
	right: 0;

	@include respond-min($breakpoint-mid) {
	position: absolute;	
	top: 0;
	right: 0;
	}
	width: 0%;
	min-width: 40px;
	height: 40px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 1px solid $pink;
	outline: none;
	/*background: ;*/
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 15px 20px;
	font-family: inherit;
	font-weight: lighter;
	font-size: 1rem;
	color: $pink;
	width: 100%;

	@include respond-min($breakpoint-mid) {
		width: 350px;
	}
}

.sb-search-input::-webkit-input-placeholder {
	color: $pink;
}

.sb-search-input:-moz-placeholder {
	color: $pink;
}

.sb-search-input::-moz-placeholder {
	color: $pink;
}

.sb-search-input:-ms-input-placeholder {
	color: $pink;
}

.sb-icon-search,
.sb-search-submit  {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: $pink;	
	z-index: 90;
	font-size: 1rem;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e601";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: darken($pink, 20%);
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
