.effeckt-button[data-effeckt-type="fill-from-top"] {
  overflow: hidden;
  position: relative;
}

.effeckt-button[data-effeckt-type="fill-from-top"]:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $orange;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 500ms;
  -o-transition: -o-transform 500ms;
  transition: -ms-transform 500ms;
  transition: transform 500ms;
}

.effeckt-button[data-effeckt-type="fill-from-top"][data-loading]:after {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.effeckt-button[data-effeckt-type="fill-from-top"] .effeckt-button-label {
  position: relative;
  z-index: 1;
}